extends ../layout

block header
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

block content
  header
    h1.title 500

  section
    h2 Beklager, noe gikk galt.
