html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
}

body,
div#__next,
div#__next > div {
  height: 100%;
}

:root {
  --nit-color: #007ea7;
  --nit-color-dark: #006e93;
  --background-color: #eceff1;
}
