div(ui-calendar='uiConfig.calendar', config='uiConfig.calendar', ng-model='eventSources', calendar='eventCal')

div.legend-colors
  em.legend#school NTNU-arrangement
  em.legend#union Linjeforeningsarrangement
  em.legend#common Fellesarrangement
  em.legend#other Annet
