
#grid
  #before-after
    a#before(ng-click='setBefore(true)', ng-class='{ "selected": before }') Før innflytting
    i.fa.fa-angle-double-right(ng-show='before')
    i.fa.fa-angle-double-left(ng-hide='before')
    a#after(ng-click='setBefore(false)', ng-class='{ "selected": !before }') Etter innflytting

  .main-bubbles(ng-switch='before')
    div(ng-switch-when='true')
      a(href='/generelt/velkommen-til-trondheim')
        i.fa.fa-child
        span Velkommen!
      a(href='/generelt/bolig')
        i.fa.fa-building-o
        span Finn et sted å bo
      a(href='/generelt/studielaan-NTNU')
        i.fa.fa-money
        span Søk lån
      a(href='/generelt/skolestart-NTNU')
        i.fa.fa-university
        span Skolestart
    div(ng-switch-default)
      a(href='/generelt/tilgang-NTNU')
        i.fa.fa-keyboard-o
        span NTNU-tilgang
      a(href='/generelt/semester-NTNU')
        i.fa.fa-book
        span Nyttig NTNU-info
      a(href='/generelt/faq')
        i.fa.fa-question
        span Spørsmål og svar
      a(href='/genrelt/linjeforeninger')
        i.fa.fa-users
        span Linjeforeninger

  .small-bubbles
    a.first.training(href='/generelt/trening') Trening
    a.second.maps(href='/generelt/kart') Kart
    a.third.bus.split(href='/generelt/buss') Buss
    a.fourth.info(href='/generelt/linker') Linker
    a.fifth.samfundet(href='/generelt/samfundet') Samfundet

  nit-loading-indicator

  .union-specific-articles
    a(ng-repeat='article in articles', href='/{{chosenUnion.slug}}/{{article.slug}}',
      ng-if='article.approved')
      article
        h3 {{article.title}}
        p {{article.description|limitDescription}}

    p.clear
