
#grid
  #before-after
    a#before(ng-click='before = true', ng-class='{ "selected": before }') Før innflytting
    i.fa.fa-angle-double-right(ng-show='before')
    i.fa.fa-angle-double-left(ng-hide='before')
    a#after(ng-click='before = false', ng-class='{ "selected": !before }') Etter innflytting

  .main-bubbles(ng-switch='before')
    div(ng-switch-when='true')
      a(href='/generelt/bolig')
        i.fa.fa-building-o
        span Finn et sted å bo
      a(href='/generelt/semester-{{chosenUnion.school || "NTNU"}}')
        i.fa.fa-laptop
        span Studentweb
      a(href='/generelt/studielaan')
        i.fa.fa-money
        span Søk lån
      a(href='/generelt/skoleinfo-{{chosenUnion.school || "NTNU"}}')
        i.fa.fa-book
        span Info fra {{chosenUnion.school || 'NTNU'}}
    div(ng-switch-default)
      a(href='/generelt/tilgang-{{chosenUnion.school || "NTNU"}}')
        i.fa.fa-keyboard-o
        span {{chosenUnion.school || 'NTNU'}}-tilgang
      a(href='/generelt/mattekurs')
        i.fa.fa-credit-card
        span Mattekurs
      a(href='/generelt/faq')
        i.fa.fa-money
        span Spørsmål og svar
      a(href='/kalender')
        i.fa.fa-users
        span Kalender

  .small-bubbles
    a.first.training(href='/generelt/trening') Trening
    a.second.maps(href='/generelt/kart') Kart
    a.third.bus.split(href='/generelt/buss') Buss
    a.fourth.info(href='/generelt/trondheim') Trondheim
    a.fifth.samfundet(href='/generelt/samfundet') Samfundet

  nit-loading-indicator

  p.no-fraternity-chosen(ng-show='!chosenUnion._id') Du må velge linjeforening.

  .union-specific-articles
    a(ng-repeat='article in articles', href='/{{chosenUnion.slug}}/{{article.slug}}')
      article
        h3 {{article.title}}
        p {{article.description|limitDescription}}

    p.clear
