
#grid
  .main-bubbles
    a(href='/bo')
      i.fa.fa-building-o
      span Finn et sted å bo
    a(href='/papir')
      i.fa.fa-file-text-o
      span Skaff deg papirer
    a(href='/drikke')
      i.fa.fa-money
      span Søk lån
    a(href='/party')
      i.fa.fa-users
      span Ha det gøy

  .small-bubbles
    a.first.training(href='/') Trening
    a.second.maps(href='/') Kart
    a.third.bus.split(href='/') Buss
    a.fourth.info(href='/') Trondheim
    a.fifth.samfundet(href='/') Samfundet


  //h2 Artikler for linjeforeningen {{chosenUnion.name}}

  div(ng-class='{loading: loading}')
    div.loading-indicator
      .spinner
        .dot1
        .dot2

  .union-specific-articles
    a(ng-repeat='article in articles', href='/{{article.slug}}')
      article
        h3 {{article.title}}
        p {{article.description|limitDescription}}

    p.clear
