
nit-loading-indicator

.article-content
  h1 {{article.title}}
  p(id='last-modified' ng-if='lastModified')
    span Sist oppdatert:{{' '}}
    span(ng-bind='lastModified')

  p.description
    a(ng-href='/static/images/{{article.image}}', ng-show='article.imageCropped | exists', target='_blank')
      img.article-image(ng-src='/static/images/{{article.imageCropped}}',
        alt='{{article.imageName}}')
    p(ng-bind-html='article.description')
    p.body(ng-bind-html='article.body')
  br.clear

a.back(href='/') &larr; Tilbake til forsiden
