div(ng-class='{loading: loading}')
  .loading-indicator
    .spinner
      .dot1
      .dot2

#article-content
  h2 {{article.title}}

  p.description(ng-bind-html='article.description')
  p.body(ng-bind-html='article.body')

  a.back(href='/') &larr; Tilbake til forsiden
