
nit-loading-indicator

.article-content
  h1 {{article.title}}

  p.description
    a(ng-href='/images/{{article.image}}', ng-show='article.imageCropped | exists', target='_blank')
      img.article-image(ng-src='/images/{{article.imageCropped}}',
        alt='{{article.imageName}}')
    p(ng-bind-html='article.description')
    p.body(ng-bind-html='article.body')
  br.clear

a.back(href='/') &larr; Tilbake til forsiden
