doctype html
html(ng-app='nyitrondheim')
  head
    meta(charset='utf-8')
    title Ny i Trondheim

    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='animate.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

  body(ng-controller='MainController')
    #modal-container(ng-class='{active: modalOpen}')
      .modal(ng-click='closeModal()')
        ul.fraternities
          li(ng-repeat='fraternity in fraternities')
            a(href='', ng-click='chooseFraternity(fraternity)') {{fraternity}}

    #top-bar
      div
        p Velkommen til Trondheim!

    #container
      header
        h1
          a(href='#') Ny i Trondheim
        #choose-fraternity
          a(href='', ng-click='openModal()') Velg linje
            em(ng-show='chosenFraternity != null')  ({{chosenFraternity}})
            i.fa.fa-bars

      section
        #grid
          a(href='/#bo') Finn et sted å bo
          a(href='/#papir') Skaff deg papirer
          a(href='/#drikke') Lokalisér polet
          a(href='/#party') Ha det gøy
          a.small.training(href='/') Trening
          a.small.nightclubs(href='/') Utesteder
          a.small.activities(href='/') Aktiviteter
          a.small(href='/') Busstilbud

          p.clear

        #content(ng-controller='PageController', ng-view)

        .no-fraternity-chosen(ng-show='chosenFraternity == null') Du har ikke valgt noen linjeforening.

      footer
        p Ny i Trondheim drives av <a href="">Abakus.</a> Ta kontakt på <a href="">hei@nyitrondheim.no</a>

    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-local-storage/angular-local-storage.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='nit.js')
