@import url("http://fonts.googleapis.com/css?family=Averia\+Sans\+Libre:400,700");
@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Vollkorn:400,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}
body {
  font-family: Montserrat, Lato, 'Open Sans', Helvetica, sans-serif;
  color: #444;
  line-height: 1.8;
  font-size: 16px;
  background: url("images/brygga1.png") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
}
#top-bar {
  background: rgba(0,0,0,0.6);
  padding: 6px;
}
#top-bar div {
  max-width: 960px;
  margin: 0 auto;
  color: #ccc;
}
#container {
  max-width: 960px;
  margin: 0 auto;
}
header {
  height: 150px;
  line-height: 150px;
}
h1 {
  font-size: 40px;
  font-family: Montserrat, serif;
  font-weight: 700;
  float: left;
}
h1 a {
  color: #fff;
}
#choose-fraternity {
  float: right;
}
#choose-fraternity a {
  line-height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
  background: -webkit-linear-gradient(top, #fff 0, #ccc 100%);
  background: -moz-linear-gradient(top, #fff 0, #ccc 100%);
  background: -o-linear-gradient(top, #fff 0, #ccc 100%);
  background: -ms-linear-gradient(top, #fff 0, #ccc 100%);
  background: linear-gradient(top, #fff 0, #ccc 100%);
  color: #2f3741;
  padding: 0 20px;
  display: inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#choose-fraternity a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, #ccc 0, #fff 100%);
  background: -moz-linear-gradient(top, #ccc 0, #fff 100%);
  background: -o-linear-gradient(top, #ccc 0, #fff 100%);
  background: -ms-linear-gradient(top, #ccc 0, #fff 100%);
  background: linear-gradient(top, #ccc 0, #fff 100%);
}
#choose-fraternity i {
  color: #888;
  margin-left: 10px;
}
section {
  background: rgba(255,255,255,0.6);
  padding: 40px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#grid {
  text-align: center;
}
#grid a {
  color: #fff;
  display: inline-block;
  height: 200px;
  width: 200px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 10px 10px 0;
  background: rgba(47,55,65,0.9);
}
#grid a.training {
  background: #415959;
}
#grid a.nightclubs {
  background: #7d2934;
}
#grid a.activities {
  background: #887c6e;
}
#grid a:hover {
  width: 200px;
  line-height: 200px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
#grid a.small {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height: 100px;
  font-weight: 400;
  font-size: 16px;
}
#grid a.small:hover {
  height: 100px;
  width: 100px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  line-height: 100px;
  background: rgba(0,0,0,0.8);
}
#content {
  background: #fff;
}
footer {
  clear: both;
  padding: 40px;
  text-align: right;
  color: #fff;
}
footer a {
  color: #ff0;
}
.clear {
  clear: both;
}
.no-fraternity-chosen {
  font-size: 22px;
  text-align: center;
}
h2#fraternity {
  font-size: 22px;
  margin: 10px 0;
}
#modal-container {
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#modal-container.active {
  height: 100%;
  width: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#modal-container.active .modal {
  width: 640px;
  height: 320px;
  background: #fff;
  margin: 150px auto;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 -4px 0 #ddd;
  box-shadow: 0 -4px 0 #ddd;
  padding: 20px;
  overflow: scroll;
}
.fraternities a {
  display: block;
}

