.articlesLink {
  flex: 1;
  flex-grow: 0;
  flex-basis: 15rem;
}

.button {
  display: flex;
  background-color: var(--nit-color);
  color: hsl(var(--nextui-background));
  height: 100%;
  width: 100%;
  min-height: 10rem;
  font-weight: 400;
}

.button:hover {
  background-color: var(--nit-color-dark);
}

.buttonContent {
  display: inline-flex;
  flex-grow: 1;
  padding: 0.5rem 0.9rem;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  flex-basis: 1.7rem;
  flex-shrink: 0;
}

.buttonText {
  display: block;
  padding-left: 1rem;
  font-size: 1.8rem;
  line-height: 1.3;
  hyphens: auto;
  white-space: normal;
}
