.textBox {
  margin: 2rem auto;
  width: 800px;
  max-width: 95%;
}

.textBox h1 {
  font-size: 2em;
  font-weight: 500;
}

.textBox a,
.textBox * a {
  color: var(--nit-color-dark);
  text-decoration: underline;
}

.textBox p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.textBox ul {
  list-style-type: disc;
  margin-left: 1em;
}

.textBox ul li {
  margin-bottom: 0.25em;
}
