doctype transitional

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Ny i Trondheim
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body
    h2 Hei!

    block content

    strong.
      Med vennlig hilsen
      Webkom, Abakus
