h1 Hei!

p.
  Passordet ditt har blitt endret. Dersom du ikke endret det selv,
  vennligst send en epost til
  <a href='mailto:hei@nyitrondheim.no'>hei@nyitrondheim.no</a>

p.
  Med vennlig hilsen
  Webkom, Abakus
