extends ./layout.jade

block content
  p.
    Passordet for brukernavn #{slug} har blitt endret. Dersom du ikke endret det selv,
    vennligst send en epost til <a href='mailto:webkom@abakus.no'>webkom@abakus.no</a>.
