#admin-article-list
  overflow-y scroll
  max-height 200px
  .article-li
  .new-article-li
    word-break break-all
    border-bottom 1px solid #ddd

  .article-li:hover
  .new-article-li:hover
    cursor pointer

  .article-li.selected-article
  .new-article-li.selected-article
    transition:background .25s ease-in
    background rgba(253,27,45, 0.1)

  .new-article-li
    font-size 1.1em
    color #B62121

  .new-article-li:hover
    color #d65959

  .article-li:hover
    color #666

#admin-event-list
  margin-top 10px
  .event-li
  .new-event-li
    border-bottom 1px solid #ddd

  .event-li:hover
  .new-event-li:hover
    cursor pointer

  .event-li.selected-event
  .new-event-li.selected-event
    transition:background .25s ease-in
    background rgba(95, 255, 29, 0.1)

  .new-event-li
    font-size 1.1em
    color #007412

  .new-event-li:hover
    color #008715

  .event-li:hover
    color #666

.admin-article-main
  border-left 2px solid #ddd

.drop-area
  //background #00A5CD
  border 2px dashed #1c8ecd
  color #00A5CD
  width 100%
  height 40px
  text-align center
  &.dragover
    //background #3bcd32
    color #3bcd32
    border 2px dashed #41a815

.ta-toolbar
  margin-bottom 10px

.ta-editor
  height auto
  overflow auto
  font-family inherit
  font-size 100%
  min-height 200px

#file-input
  margin-top 10px
