#calendar
  width 100%
  height 70%
  border-radius 1.5%
  opacity 0.75

.date
  #to-date
    margin-left 10px

.ta-toolbar
  margin-bottom 10px

.ta-editor
  height auto
  overflow auto
  font-family inherit
  font-size 100%
  min-height 200px

span.fc-header-title
  font-size 140%

thead
  tr.fc-first
    background-color #ff7c82
