#calendar
  width 100%
  height 70%
  border-radius 1.5%
  opacity 0.75

.date
  #to-date
    margin-left 10px

span.fc-header-title
  font-size 140%

.legend
  margin-left 8%

  &#school
    color #5cb85c
  &#union
    color #5bc0de
  &#common
    float left
    color #f0ad4e
  &#other
    float left
    color #d9534f

thead
  tr.fc-first
    background-color #ff7c82
