categories = {
  first: #570A05,
  second: #E76400,
  third: #FFA400,
  fourth: #F73700,
  fifth: #580B0E
}

dark-blue = #222a35
dark-red = #570a05

#grid
  text-align center

  #before-after
    margin-bottom 20px
    a
      color lighten(dark-blue, 20%)
      display inline-block
      font-size 25px
      font-weight 700
      border-bottom 3px dashed
      line-height 30px

      &.selected
        color #aab8cd
        border-bottom 0px
        &:hover
          color @color

      &:hover
        color lighten(@color, 30%)
    i
      color lighten(dark-blue, 50%)
      font-size 20px
      font-weight 700
      margin 0 20px


  h2
    border-bottom 2px solid #ddd
    font-size 24px
    font-weight 700
    text-align left
    margin 20px 0

  .main-bubbles
    a
      color #fff
      display inline-block
      height 200px
      width @height
      border-radius (@height/2) - 10px
      line-height 0
      text-align center
      font-size 20px
      font-weight bold
      transition all .3s
      margin 10px 15px 15px 0
      background dark-blue
      box-shadow 0 5px 0 #ccc

      i.fa
        transition all .3s
        font-size 45px
        line-height 120px
        display block

      span
        transition all .5s
        display block

      &:hover
        border-radius (@height/3)
        box-shadow 0 -5px 0 #ccc

        i.fa
          transform translateY(10px)
          transition all .3s

        span
          transition all .2s

  .small-bubbles
    margin-top 20px
    a
      display inline-block
      color #fff
      height 80px
      width 20%
      line-height @height
      font-weight 400
      font-size 16px
      //background rgb(53, 61, 71)
      background #580B0E
      transition background .1s

      &:first-child
        border-radius 10px 0 0 10px

      &:last-child
        border-radius 0 10px 10px 0

      for category, bg in categories
        &.{category}
          background bg
          &:hover
            background lighten(@background, 20%)

  .union-specific-articles
    margin-top 20px

    article
      width 50%
      float left
      height 120px
      text-align left
      padding 15px
      color #777
      border-radius 10px
      border-bottom 2px solid transparent
      word-break break-all

      &:hover
        cursor pointer
        transition background-color .25s
        background-color rgba(255, 255, 255, .4)
        border-bottom 2px solid #ddd
        color #555

      h3
        font-size 20px
        font-weight 700
        text-transform uppercase
        color #440507
        text-shadow 2px 1px 0 #ccc

  p.no-fraternity-chosen
    a
      color lighten(dark-red, 10%)

      &:hover
        color lighten(@color, 5%)

