
body.modalopen
  overflow hidden

#modal-container
  background rgba(0, 0, 0, .9)
  fixed left right bottom top
  height 0
  opacity 0
  width 0
  transition opacity .5s
  z-index 999999999

  .overlay
    height 0
    opacity 0
    width 0
    background transparent
    fixed left right bottom top

  &.active
    height 100%
    width 100%
    opacity 1

    .overlay
      height 100%
      width 100%
      opacity 1

    .modal
      max-width 640px
      position relative
      background #fff
      margin 150px auto
      border-radius 10px
      box-shadow 0 -4px 0 #ddd
      padding 20px
      z-index 100

      h2
        color #580B0E
        font-weight 700
        font-size 24px
        font-family Lobster, $font-family

  input
    width 100%
    font-size 16px
    padding 10px
    font-family $font-family
    margin 10px 0
    border 2px solid #ddd
    border-radius 5px
    outline 0

  .close-window
    display inline-block
    text-align right



.fraternities
  max-height 350px
  overflow-y scroll

  a
    display block
    line-height 40px
    border-bottom 2px solid #efefef
    padding 2px 10px

    &:hover
      background #fafafa

    i
      color #ddd
      font-size 12px
      margin-right 5px
      float right
      display inline-block
      line-height 40px

.school-picker
  text-align right
  a
    display inline-block
    margin 5px 15px 5px 0

    &.selected
      text-decoration underline
