bybropalette = {
first: #5A3230,
second: #A28566,
third: #769789,
fourth: #727F66,
fifth: #AD6468
}

ntnupalette = {
first: #6D837E,
second: #B8C08B,
third: #C6DB8F,
fourth: #9FD6B5,
fifth: #608A66
}

ntnufpalette = {
first: #B46161,
second: #D8A885,
third: #F8CC7C,
fourth: #F79275,
fifth: #664849
}

samfundetpalette = {
first: #540A05,
second: #DE8F52,
third: #F5C162,
fourth: #F08363,
fifth: #5C2829
}

vaattakammenpalette= {
first: #4A62C5,
second: #4D95D8,
third: #8EC4E2,
fourth: #7272E9,
fifth: #846396
}
