dark-blue = #222a35

@media (max-width: 555px)
  body
    background url('/images/bg/bybro.mobile.jpg') top center fixed !important
    background-size contain !important

  #modal-container
    padding 10px

    &.active
      .modal
        height 100%
        width 100%
        margin 0
        max-width 100%

    .fraternities
      max-height 300px
      height 300px
      overflow-y scroll
      -webkit-overflow-scrolling touch

  header
    height auto
    > h1
      text-align center
      float none

  #choose-fraternity
    float none
    margin 0 40px 20px 40px

    a
      display block

  #grid
   #before-after
      a
        color #aab8cd
        display inline-block
        font-size 20px
        font-weight 700

        &.selected
          color lighten(dark-blue, 20%)
          &:hover
            color lighten(@color, 20%)

        &:hover
          color lighten(@color, 30%)
      i
        color lighten(dark-blue, 50%)
        font-size 20px
        font-weight 700
        margin 0 20px
        padding-bottom 5px

    .main-bubbles
      a
        display block
        width 100%
        height 50px
        line-height 50px
        border-radius 10px

        &:hover
          line-height 50px
          height 50px
          border-radius 10px
          box-shadow 0 5px 0 #ccc

        span
          display block
          &:hover
            opacity 0.5

        i.fa
          display none

    .union-specific-articles
      article
        display block
        height auto
        width 100%
        float none
        padding 0
        margin-bottom 15px

  footer
    text-align center

@media (max-width: 705px)
  #grid
    .small-bubbles
      a
        box-shadow 0 5px 0 #ccc

        display inline-block
        text-align center
        transition all .2s
        margin 0 10px 10px 0

        //padding-top 1px
        line-height 100px
        font-weight 400
        font-size 16px

        height 100px
        width @height
        border-radius (@height/2)

        &:first-child
          border-radius (@height/2)

        &:last-child
          border-radius (@height/2)

        &:hover
          border-radius (@height/2) - 20px
          background rgba(0, 0, 0, .8)
