@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Open\+Sans:400,700')
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Lobster:400,700');

global-reset()

dark-red = #570a05
*
  box-sizing border-box
  font-smoothing antialiased

$font-family = Montserrat, Lato, 'Open Sans', Helvetica, sans-serif

a
  text-decoration none
  color #444
  cursor pointer
  &:hover
    text-decoration none

body
  font-family $font-family
  color #555
  line-height 1.8
  font-size 16px
  background url('/images/bg/bybro.jpg') 50% center fixed
  background-size cover

  &.bybro
    background url('/images/bg/bybro.jpg') 50% center fixed
  &.ntnu
    background url('/images/bg/ntnu.jpg') 50% center fixed
  &.ntnu-front
    background url('/images/bg/ntnu-front.jpg') 50% center fixed
  &.samfundet
    background url('/images/bg/samfundet.jpg') 50% center fixed
  &.vaattakammen
    background url('/images/bg/utsikten.jpg') 50% center fixed


#top-bar
  background rgba(0, 0, 0, .4)
  padding 6px
  color #ccc

.middle
  max-width 960px
  margin 0 auto
  padding 0 10px

header
  height 150px
  line-height 150px

  > h1
    float left

h1
  font-size 40px
  font-family Lobster, Montserrat, serif
  font-weight 700

  &.title, a, a:hover
    margin-top 50px
    color #fff
    text-decoration none

button
  &.wide
    width 100%

#choose-fraternity
  float right

  a
    line-height 40px
    background linear-gradient(#fff, #ccc)
    color #2F3741
    padding 0 20px
    display inline-block
    border-radius 10px

    &:hover
      background linear-gradient(#ccc, #fff)

  i
    color #888
    margin-left 10px

section
  background rgba(255, 255, 255, .85)
  padding 40px
  border-radius 20px


footer
  clear both
  padding 40px
  text-align right
  color #fff

  a
    color yellow

.clear
  clear both

.no-fraternity-chosen
  font-size 22px
  text-align center
  margin-top 40px

h2#fraternity
  font-size 22px
  margin 10px 0

#article-content
  h2
    font-size 20px
    font-weight 700
    color dark-red
  p
    font-size 14px
    margin-top 10px

  .description
    font-weight 700

  .body
    margin-bottom 30px

  img
    height auto
    max-width 100%
    border-radius 5px

    &.article-image
      max-width 60%
      float right
      margin 0 0 20px 30px

  ul
    padding-left 1em
    list-style disc

a.back
  color #999

thead
  tr.fc-first
    background-color #ff7c82

[ng-cloak].loading-splash
  display block !important

.loading-splash
  display none

.loading-indicator
  text-align center
  display none

.loading .loading-indicator
  display block

.login
  float right

.clear
  clear both

@import 'app/assets/css/frontpage'
@import 'app/assets/css/modal'
@import 'app/assets/css/admin'
@import 'app/assets/css/calendar'
@import 'app/assets/css/responsive'
@import 'app/assets/css/spinner'
