@import 'nib'

@import url('http://fonts.googleapis.com/css?family=Averia\+Sans\+Libre:400,700')
@import url('http://fonts.googleapis.com/css?family=Open\+Sans:400,700')
@import url('http://fonts.googleapis.com/css?family=Vollkorn:400,700')
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

global-reset()

*
  box-sizing border-box
  font-smoothing antialiased

$font-family = Montserrat, Lato, 'Open Sans', Helvetica, sans-serif

a
  text-decoration none
  color #444
  cursor pointer

body
  font-family $font-family
  color #444
  line-height 1.8
  font-size 16px
  background url('/images/brygga1.png') fixed
  background-size cover

#top-bar
  background rgba(0, 0, 0, .6)
  padding 6px

  div
    centered()
    color #ccc

#container
  max-width 960px
  margin 0 auto

header
  height 150px
  line-height 150px

h1
  font-size 40px
  font-family Montserrat, serif
  font-weight 700

  &.title
  a
    color #fff

#choose-fraternity
  float right

  a
    line-height 40px
    background linear-gradient(#fff, #ccc)
    color #2F3741
    padding 0 20px
    display inline-block
    border-radius 10px

    &:hover
      background linear-gradient(#ccc, #fff)

  i
    color #888
    margin-left 10px

section
  background rgba(255, 255, 255, .6)
  padding 40px
  border-radius 20px

#grid
  text-align center

  a
    color #fff
    display inline-block
    height 200px
    width @height
    border-radius (@height/2)
    line-height @height
    text-align center
    font-size 20px
    font-weight bold
    transition all .5s
    margin 0 10px 10px 0
    background rgba(47, 55, 65, .9)

    &.training
      background #415959

    &.nightclubs
      background #7D2934

    &.activities
      background #887C6E

    &:hover
      width @height
      line-height @height
      border-radius (@height/2) - 20px

    &.small
      height 100px
      width @height
      border-radius (@height/2)
      line-height @height
      font-weight 400
      font-size 16px

      &:hover
        height 100px
        width @height
        border-radius (@height/2) - 20px
        line-height @height
        background rgba(0, 0, 0, .8)

  h2
    border-bottom 2px solid #ddd
    font-size 24px
    font-weight 700
    text-align left
    margin 20px 0

#content
  background #fff
  border-radius 5px

  h2
    font-size 20px
    font-weight 700

footer
  clear both
  padding 40px
  text-align right
  color #fff

  a
    color yellow

.clear
  clear both

.no-fraternity-chosen
  font-size 22px
  text-align center

h2#fraternity
  font-size 22px
  margin 10px 0

#article-content
  h2
    font-size 24px
    font-weight 700
    border-bottom 2px solid #ddd
  p
    margin-top 10px
  .description
    font-weight 700
  .body
    margin-bottom 20px

#modal-container
  background rgba(0, 0, 0, .8)
  fixed left right bottom top
  height 0
  opacity 0
  width 0
  transition opacity .5s

  &.active
    height 100%
    width 100%
    opacity 1

    .modal
      width 640px
      height 320px
      background #fff
      margin 150px auto
      border-radius 10px
      box-shadow 0 -4px 0 #ddd
      padding 20px
      overflow scroll

.fraternities
  a
    display block

.right-button
  // Ghetto-CSS, just to put up a
  margin-top -4%
  float right


.back
  text-align center

#admin-article-list
  overflow-y scroll
  max-height 200px
  .article-li
  .new-article-li
    border-bottom 1px solid #ddd

  .article-li:hover
  .new-article-li:hover
    cursor pointer

  .article-li.selected-article
  .new-article-li.selected-article
    transition:background .25s ease-in
    background rgba(253,27,45, 0.1)

  .new-article-li
    font-size 1.1em
    color #B62121

  .new-article-li:hover
    color #d65959

  .article-li:hover
    color #666

#admin-event-list
  margin-top 10px
  .event-li
  .new-event-li
    border-bottom 1px solid #ddd

  .event-li:hover
  .new-event-li:hover
    cursor pointer

  .event-li.selected-event
  .new-event-li.selected-event
    transition:background .25s ease-in
    background rgba(34, 85, 51, 0.1)

  .new-event-li
    font-size 1.1em
    color #007412

  .new-event-li:hover
    color #008715

  .event-li:hover
    color #666

.admin-article-main
  border-left 2px solid #ddd

#calendar
  width 100%
  height 70%
  border-radius 1.5%
  opacity 0.75

.date
  #to-date
    margin-left 10px

.ta-toolbar
  margin-bottom 10px

.ta-editor
  height auto
  overflow auto
  font-family inherit
  font-size 100%
  min-height 200px

span.fc-header-title
  font-size 140%

thead
  tr.fc-first
    background-color #ff7c82
