extends layout

block header
  - var controller = 'MainController'
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

block content
  header
    h1.title
      a(href='/admin', target='_self') Adminpanel

  section(ng-init='selected = 0')
    #admin-nav
      p
        a(href='/admin/overview', ng-class='{"selected": selected == 0}', ng-click='selected=0') Oversikt
        i.fa.fa-angle-double-right
        a(href='/admin/specific', ng-class='{"selected": selected == 1}', ng-click='selected=1') Artikler og arrangement
        i.fa.fa-angle-double-right
        a(href='/admin/unions', ng-class='{"selected": selected == 2}', ng-click='selected=2') Linjeforeninger

    div(ng-view)

block footer
  script.
    union = !{JSON.stringify(union)}
