html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/vendor.css')

  body(ng-controller='CalendarController')
    #top-bar
      div
        p Velkommen til Trondheim!

    #container
      header
        h1(style='color: #fff; margin-top: 50px') #{title}

      section
        div(ui-calendar='uiConfig.calendar', config='uiConfig.calendar', ng-model='eventSources', calendar='eventCal')

        ul
          li(ng-repeat='event in events')
            input(ng-model='event.title')

    script(src='/vendor.js')
    script(src='/app.js')
