extends layout

block header
  - var controller = 'MainController'

block content
  header
    h1
      a(href='#') Ny i Trondheim
    #choose-fraternity
      a(href='', ng-click='openModal()') Velg linje
        em(ng-show='chosenUnion != null')  ({{chosenUnion.name}})
        i.fa.fa-bars

  section(ng-view)
    .no-fraternity-chosen(ng-show='chosenUnion == null') Du har ikke valgt noen linjeforening.
