doctype html
html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    meta(name='fragment' content='!')

    title {{title}} &mdash; Ny i Trondheim
    base(href='/')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block header
      - var controller = 'MainController'

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/vendor.css')
    link(rel='stylesheet', href='/app.css')

  - var backgroundClasses = ['bybro', 'ntnu-front', 'ntnu', 'samfundet', 'vaattakammen']
  - var backgroundClass = backgroundClasses[Math.floor(Math.random()*backgroundClasses.length)]

  mixin bodyMixin
    .loading-splash(ng-cloak)
      span Laster inn Ny i Trondheim
    div(ng-cloak)
      #modal-container(ng-class='{active: modalOpen}')
        .overlay(ng-click='closeModal()')
        .modal
          h2 Velg linjeforening
          p.school-picker
            a(ng-click='search.schoolSlug="ntnu"', ng-class='{selected: search.schoolSlug=="ntnu"}') NTNU
            a(ng-click='search.schoolSlug="bi"', ng-class='{selected: search.schoolSlug=="bi"}') BI
            a(ng-click='search.schoolSlug="hist"', ng-class='{selected: search.schoolSlug=="hist"}') HiST
            a(ng-click='search.schoolSlug="other"', ng-class='{selected: search.schoolSlug=="other"}') Andre
          input(ng-model='search.name', placeholder='Søk')
          ul(ng-click='closeModal()').fraternities
            li(ng-repeat='union in unions|filter:search')
              a(href='', ng-click='chooseUnion(union)')
                i.fa.fa-check(ng-show='chosenUnion == union')
                i.fa.fa-circle(ng-show='chosenUnion != union')
                | {{union.name}}

      #top-bar
        div.middle
          p Velkommen til Trondheim!

      #container.middle(ng-cloak)
        block content

        footer
          p Ny i Trondheim drives av <a href="">Abakus.</a> Ta kontakt på <a href="">hei@nyitrondheim.no</a>

      block footer
      script.
        window.prerenderReady = false;
      script(src='/vendor.js')
      script(src='/app.js')

  if controller
    body(class=backgroundClass, ng-controller='#{controller}', ng-class='{modalopen: modalOpen}')
        +bodyMixin()
  else
    body(class=backgroundClass, ng-class='{modalopen: modalOpen}')
      div(ng-cloak)
        +bodyMixin()
