doctype html
html(ng-app='nitApp')
  head
    meta(charset='utf-8')
    meta(name='fragment' content='!')

    title(ng-bind='title + " - Ny i Trondheim"')
    base(href='/')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block header
      - var controller = 'MainController'

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')
    link(rel='stylesheet', href='/static/vendor.css')
    link(rel='stylesheet', href='/static/app.css')
    script(src='/static/vendor.js')
    script(src='/static/app.js')

  - var backgroundClasses = ['bybro', 'ntnu-front', 'ntnu', 'samfundet', 'vaattakammen']
  - var backgroundClass = backgroundClasses[Math.floor(Math.random()*backgroundClasses.length)]

  mixin bodyMixin
    .loading-splash(ng-cloak)
      span Laster inn Ny i Trondheim
    div(ng-cloak)
      #modal-container(ng-class='{active: modalOpen}')
        .overlay(ng-click='closeModal()')
        .modal
          h2 Velg linjeforening
          p.school-picker
            a(ng-click='search.schoolSlug="ntnu"', ng-class='{selected: search.schoolSlug=="ntnu"}') NTNU
            a(ng-click='search.schoolSlug="bi"', ng-class='{selected: search.schoolSlug=="bi"}') BI
            a(ng-click='search.schoolSlug="hist"', ng-class='{selected: search.schoolSlug=="hist"}') HiST
            a(ng-click='search.schoolSlug="other"', ng-class='{selected: search.schoolSlug=="other"}') Andre
          input(ng-model='search.$', placeholder='Søk', focus-input='broadcastModal')
          ul(ng-click='closeModal()').fraternities
            li(ng-repeat='union in unions | orderBy:"name" | filter:search', ng-if='union.school != "admin"')
              a(href='', ng-click='chooseUnion(union)')
                i.fa.fa-check(ng-show='chosenUnion == union')
                i.fa.fa-circle(ng-show='chosenUnion != union')
                | {{union.name}} ({{union.program}})

      #top-bar
        div.middle
          p Velkommen til Trondheim!

      #container.middle(ng-cloak)
        block content

        footer
          p Ny i Trondheim drives av <a href='http://abakus.no'>Abakus</a>. Ta kontakt på <a href='mailto:hei@nyitrondheim.no'>hei@nyitrondheim.no</a>.

      block footer
      script.
        window.prerenderReady = false;

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-17746625-1', 'nyitrondheim.no');
        ga('send', 'pageview');

  if controller
    body(class=backgroundClass, ng-controller='#{controller}', ng-class='{modalopen: modalOpen}')
        +bodyMixin()
  else
    body(class=backgroundClass, ng-class='{modalopen: modalOpen}')
      div(ng-cloak)
        +bodyMixin()
