extends layout

block header
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

block content
  header
    h1.title Innlogging

  section
    form(method='post', action='/login', role='form')
      .form-group
        label(for='slug') Brukernavn
        input#slug.form-control(type='text', name='slug', placeholder='Linjeforeningsnavn')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password', placeholder='Passord')

      button.btn.btn-primary.login(type='submit') Log inn
      a.btn.btn-default(href='/') Avbryt
