extends layout

block header
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

block content
  header
    h1.title Forespør nytt passord

  section
    if error
      .alert.alert-danger #{error}

    if success
      .alert.alert-success En epost har blitt sendt ut med videre instruksjoner.

    form(method='post', action='/reset-password', role='form')
      .form-group
        label.spacious(for='email') Epost
        input.form-control#email(type='email', name='email', placeholder='ola@nordmann.no', required)

      button.btn.btn-primary.login(type='submit') Send
      a.btn.btn-default(href='/login') Avbryt
