extends layout

block header
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')

block content
  header
    h1.title Nytt passord

  section
    if error
      .alert.alert-danger #{error}

    form(action='/reset-password/#{token}', method='post', role='form')
      .form-group
        label.spacious(for='password') Passord
        input.form-control#password(type='password', name='password',
          placeholder='Skriv inn passord', required)

      .form-buttons
        button.btn.btn-primary(type='submit') Send
        a.btn.btn-default(href='/login') Avbryt
